<%- include('header') -%>
    <div class="container">

        <h1>Welcome to Institutions info!</h1>

        <% if(pageTitle==='Home' ) { %>

            <form action='/university' method="POST">
                <div class="form-group">
                    <label> Select University </label>
                    <select class="form-control" id="uList">
                        <% universityList.forEach(function(university) { %>
                            <option value="<%= university %>">
                                <%= university %>
                            </option>
                            <% }); %>
                    </select>
                    <input class="form-control" type="hidden" name="uName" id="univInput" value=""></input>
                    <button class="btn btn-secondary" type="submit" onclick="getUniv()">Go</button>
                </div>
            </form>

            <% } else if(pageTitle==='University' ) { %>

                <h3>
                    <%= uname %>
                </h3>

                <form action="/details" method="post">
                  <div class="row">
                    <div class="col">
                        <input class="form-control univ-choice" type="submit" name="univ" value="Courses">
                    </div>
                    <div class="col">
                        <input class="form-control univ-choice" type="submit" name="univ" value="Colleges">
                    </div>  
                  </div>
                </form>

            <% } else if(pageTitle === 'College') { %>

                <h3>
                    <%= uname %>
                </h3>

                <form action='/college' method="POST">
                    <div class="form-group">
                        <label> Select College </label>
                        <select class="form-control" id="cList">
                            <% collegeList.forEach(function(college) { %>
                                <option value="<%= college %>">
                                    <%= college %>
                                </option>
                                <% }); %>
                        </select>
                        <input type="hidden" class="form-control" name="cName" id="collegeInput" value=""></input>
                        <button class="btn btn-secondary" type="submit" onclick="getCollege()">Go</button>
                    </div>
                </form>

            <% } else if(pageTitle === 'University-Courses') { %>
                <hr>

                    <div class="offered">
                        <p>
                            <span style="font-size: 30px;"><strong>
                                    <%= uname %>
                                </strong></span>
                        </p>
                        
                        <table>
                            <tr>
                                <th>Course Offered</th>
                                <th>Subject Required</th>
                                <th>Qualifier Exam</th>
                                <th>Minimum Percentage</th>
                            </tr>

                            <% for(var i=0; i < courseList.length; i++) { %>

                                <tr>
                                    <td>
                                        <%= courseList[i] %>
                                    </td>
                                    <td>
                                        <%= subjectRequired[i] %>
                                    </td>
                                    <td>
                                        <%= qualifierExam[i] %>
                                    </td>
                                    <td>
                                        <%= minPercentage[i] %>%
                                    </td>
                                </tr>

                                <% } %>

                        </table>

                    </div>

            <% } else { %>

                    <hr>

                    <div class="offered">
                        <p>
                            <span style="font-size: 30px;"><strong>
                                    <%= pageTitle %>
                                </strong></span>
                        </p>
                        <p><strong>Location: </strong>
                            <%= address %>
                        </p>
                        <p><strong>Rank: </strong>
                            <%= rank1 %>
                        </p>
                        <p><strong>NAAC Grade: </strong>
                            <%= grade1 %>
                        </p>

                        <table>
                            <tr>
                                <th>Course Name</th>
                                <th>Fees per Annum</th>
                            </tr>

                            <% for(var i=0; i < courseList.length; i++) { %>

                                <tr>
                                    <td>
                                        <%= courseList[i] %>
                                    </td>
                                    <td>
                                        <%= feesList[i] %>/-
                                    </td>
                                </tr>

                                <% } %>

                        </table>

                        <br>
                        <p><strong>Contact: </strong>
                            <%= contact %>
                        </p>

                    </div>

                    <% } %>
    </div>
    <%- include('footer') -%>